body {
    background-color: #fdfdfd;
    font-family: 'Sniglet', cursive;
}

/*----------NAVBAR---------*/

/*----------JUMBOTRON----------*/

#landing-view {
    background-attachment: fixed;
    background-image: url('/assets/images/AdobeStock_160776502.jpeg');
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-bottom: 0px;
    z-index: 1;
}

.top {
    padding-left: 12px;
    margin-top: 12%;
}

h1 {
    padding-top: 5%;
    font-size: 5.5em;
}

.jumbotron p {
    font-size: 2em;
}

/*----------Bio----------*/

.bio {
    font-size: 1.6em;
    line-height: 1.9;
    padding-bottom: 15%;
}

h2 {
    text-transform: uppercase;
    margin-left: 15px;
    margin-top: 15%;

}

.bio .about-p {
    font-size: .8em;
    margin: 20px 0px 20px 0px;
}

/*----------Music----------*/

#listen-for-yourself {
    text-transform: uppercase;
    margin-left: 15px;
    margin-top: 5%;
    margin-bottom: 1em;
}

.videoWrapper {
    margin-bottom: 10%;
}

#music {
    background-attachment: fixed;
    background-image: url('/assets/images/AdobeStock_83822786.jpeg');
    background-position: bottom;
    background-size: cover;

    width: 100vw;
    margin-bottom: 0px;
    z-index: 1;
}

.audio-player {
    display: flex;
    justify-content: center;
    align-items: center
}

/*----------ImagesSection----------*/

.carousel {
    margin: 2%;
    padding-bottom: 20px;
    margin-bottom: 0;
}


#images-heading {
    margin-top: 0;
    padding-top: 5%;
}

#images-section {
    background-color: #eef0f1;
}

/*----------Contact----------*/

#contact-heading {
    text-align: center;
    color: azure;
}

form {
    margin: 10%;
    padding-bottom: 10%;
}

.btn {
    display: block;
    margin: auto;
}

#get-in-touch {
    margin-top: 0;
    padding-top: 5%;
}

#contact {
    background-attachment: fixed;
    background-image: url('/assets/images/AdobeStock_217540875.jpeg');
    background-position: bottom;
    background-size: cover;

    width: 100vw;
    margin-bottom: 0px;
    z-index: 1;
}

label {
    color: azure;
}

.social-links {
    text-align: center;
    padding-right: 0;
}

div #social-col {
    padding-right: 0;
}

i {
    color: #a5b8ab
}

.fab {
    font-size: 370%;
    margin: 10px;
}

/*----------MediaQueries----------*/

@media (max-width: 400px) {
    h1 {
        font-size: 3.5em;
    }
}

@media (min-width: 1344px) {
    #about-section {
        background-image: url('/assets/images/headshot (1).jpg');
        background-position: right;
        background-size: contain;
        width: 100vw;
        background-repeat: no-repeat;
        border-radius: 50%;
    }
}

@media (max-width: 1343px) {
    #about-section {
        background-image: url(/assets/images/53221722_10158423198448289_6838795211884199936_o.jpg);
        background-size: cover;
        width: 100vw;
        background-position: center;
        background-repeat: no-repeat;
        color: #f6f3fc;
    }
}

@media (min-width: 700px) {
    audio {
        width: 60%;
    }
}
